<!--
Description HTML

created: 09.10.2015
Autor: Mailina Lohmann
Content: Content for page "Discription"
         Explanation of automatic an manuel mode

Rev: 0.0 - 09.10.2015 first creation
     1.0 - 18.12.2015 comment adjustment
     2.0 - 14.01.2015 review by Simon
-->

<html>
 <head>
    <title>Discrpition</title>
    <meta name="author" content="Mailina">
    <meta name="editor" content="html-editor phase 5">
    <link rel="stylesheet" href="/static/css/Vorlage.css" type="text/css">
 </head>

 <body text="#FFFFFF" bgcolor="#408080" link="#FF0000" alink="#FF0000" vlink="#FF0000">
    <!--- headers and discrpition texts -->
    <h2>Description</h2>
    SmartWindow is a student project of the HAW Hamburg.</br>


    <h3>The Idea</h3>

    We asked ourselves what disturbs us during lectures. The answer was the air. Sometimes it is <i>too cold, too hot, too sticky, too humid</i>.</br>

    So we asked ourselves how we could change this. The answer was to <i>open a window</i>.</br>

    The last question we asked ourselves was about the possibility to automate it. This answer was easy. <i>Yes, squire!</i></br>

    </br>

    <i><b>A word and a blow.</b></i></br></br>

    <h3>The Concept</h3>

    <i>Manual</i></br>

    After choosing the manual mode on the homepage, the window can be opened and closed by the buttons on the homepage as long as the wind is calm.</br>

    </br>
    <i>Automatic</i> </br>
    As standard limits the following values are used. </br>

    Conditions for the best working environment: </br>

    * Temperature between 20&deg;C and 26&deg;C. </br>

    * Humidity between 30% and 65%. </br>

    * Air quality higher than 1 Vol. %. </br>

    Closing is forced by the following condition:  </br>

    * Outside volume higher than 60dB.</br>

    Priority: </br>
    The priority defines which alarm is paid attention to. If all alarms are examined, it is possible that the window stays open. This would be caused by the unknown dependence of all alarm causes. </br>


    <i>General</i></br>

    When the Wind is stronger than 21 m/s, the window will not open or close immediately. </br>

 </body>
</html>