<!--
Description HTML

created: 09.10.2015
Autor: Mailina Lohmann
Content: Content for page "Discription"
         Explanation of automatic an manuel mode

Rev: 0.0 - 09.10.2015 first creation
     1.0 - 18.12.2015 comment adjustment
-->

<html>
 <head>
    <title>Discrpition</title>
    <meta name="author" content="Mailina">
    <meta name="editor" content="html-editor phase 5">
    <link rel="stylesheet" href="/static/css/Vorlage.css" type="text/css">
 </head>

 <body text="#FFFFFF" bgcolor="#408080" link="#FF0000" alink="#FF0000" vlink="#FF0000">
    <!--- headers and discrpition texts -->
    <h2>Description</h2>
    SmartWindow is a student project of the HAW Hamburg.</br>

    <h3>The Idea</h3>

    We asked ourselfe what disturbs us while lectures. The answer was the air. Sometimes it is <i>too cold, too hot, too sticky, too humid</i>.</br>

    So we asked ourselfe how could we change this. The answer was to <i>open a window</i>.</br>

    The last question we asked oursefle was about the possibility to automate it. This answer was easy. <i>Yes, squire!</i></br>

    </br>

    <i><b>A word and a blow.</b></i></br></br>

    <h3>The Concept</h3>

    <i>Manual</i></br>

    After choosing manuel on the homepage the window could be opened and closed by the buttons on the homepage as long as the wind is calm.</br>

    </br>
    <i>Automatic</i> </br>
    As standard limits the following values are used. </br>

    For Operating: </br>
    * The best temperature for working is between 20&deg;C and 26&deg;C. </br>

    * The best humidity for working is between 30% and 65%. </br>

    * The maximal limit value for air quality is 1 Vol. %. </br>

    Only for Closing:  </br>
    * The maximal limit value for the wind is 21 m/s. </br>

    * The maximal limit value for the outside volume is 60dB.</br>

    Priority: </br>
    The priority declares which alarm is examined. If all alarms are examined, it is possible that the window could not close again. This would be caused by the unknown dependence of all alarm causes. </br>


 </body>
</html>