<!--
Header HTML

created: 09.10.2015
Autor: Mailina Lohmann
Content:  Header of the complete page

Rev: 0.0 - 09.10.2015 first creation
     1.0 - 18.12.2015 comment adjustment
-->

<html>
 <head>
    <title>Header</title>
    <meta name="author" content="Mailina">
    <meta name="editor" content="html-editor phase 5">
    <link rel="stylesheet" href="/static/css/Vorlage.css" type="text/css">
 </head>

 <body text="#FFFFFF">
    <!--- Title of the homepage -->
    <div id="main" style="wight: 500px;">
        <h1>  SmartWindow</h1>
    </div>

    <!--- Picture at the top right with frame -->
    <div id="right" style="top:1; heigh:154px;">
        <img style="border-bottom-left-radius: 20px; border-top-right-radius: 20px;" src="/static/gif/HAW.gif" height="144">
    </div>

 </body>
</html>