<!--
Home HTML

created: 09.10.2015
Autor: Mailina Lohmann
Content: Content for page "Home"
         Showing current values and controlling the manuel mode

Rev: 0.0 - 09.10.2015 first creation
     1.0 - 18.12.2015 comment adjustment
-->


<html>
 <head>
     <title>Home</title>
     <meta name="author" content="Mailina">
     <meta name="editor" content="html-editor phase 5">
     <link rel="stylesheet" href="/static/css/Vorlage.css" type="text/css">
 </head>

 <body text="#FFFFFF" bgcolor="222222">
     <h2>Home</h2>

     <!--- table with current mode -->
     <table>
         <col style="width:200px"> <col style="width:200px">
         <tr><td></td>
         <td><b>Mode</b></td> <td>{{ Modus }}</td></tr>
     </table>

     </br>

     <!--- table with buttons to switch mode -->
     <table>
         <col style="width:200px"> <col style="width:200px">
         <tr>
            <td></td>
            <td><input type="button" onclick="location.href='/manu'" name="MANUEL" value="MANUEL" {{ Manu }}></td>
            <td><input type="button" onclick="location.href='/auto'" name="AUTOMATIC" value="AUTOMATIC" {{ Auto }}></td>
         </tr>
     </table>

     </br>
     </br>

     <!--- table with current state of the window -->
     <table><col style="width:200px"> <col style="width:200px">
         <tr>
            <td></td>
            <td><b>Window is</b></td><td>{{ StateWindow }}</td>
         </tr>
     </table>


     </br>

     <!--- table with buttons to switch the state of the window in manuel mode -->
     <table>
         <col style="width:200px"> <col style="width:200px">
         <tr>
            <td></td>
            <td><input type="button" onclick="location.href='/open'" name="OPEN" value="OPEN" {{ ManOpen }}></td>
            <td><input type="button" onclick="location.href='/close'" name="CLOSE" value="CLOSE" {{ ManClose }}></td>
         </tr>
     </table>

     </br>
     </br>

     <!--- table with current priority-->
     <table>
         <col style="width:200px"> <col style="width:200px">
         <tr><td></td>
         <td><b>Priority </b></td> <td>{{ Priority }}</td></tr>
     </table>

     </br>
     </br>

     <!--- table with current sensor values-->
     <table>
         <col style="width:200px"> <col style="width:200px"><col style="width:50px">
         <tr>
            <td></td>
            <td><b>Inside Temperature</b></td>
            <td style="text-align: right">{{ InTemp }}</td>
            <td> &deg;C   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Outside Temperature</b></td>
            <td style="text-align: right">{{ OutTemp }}</td>
            <td> &deg;C   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Inside Humidity</b></td>
            <td style="text-align: right">{{ InHum }}</td>
            <td> %</br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Outside Humidity</b></td>
            <td style="text-align: right">{{ OutHum }}</td>
            <td> %   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Inside Air Quality</b></td>
            <td style="text-align: right">{{ InQual }}</td>
            <td> Vol. %   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Outside Air Quality</b></td>
            <td style="text-align: right">{{ OutQual }}</td>
            <td> Vol. %   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Inside Air Pressure</b></td>
            <td style="text-align: right">{{ InPres }}</td>
            <td> Pa   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Outside Air Pressure</b></td>
            <td style="text-align: right">{{ OutPres }}</td>
            <td> Pa   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Inside Sound Level</b></td>
            <td style="text-align: right">{{ InSound }}</td>
            <td> dB   </br></td>
         </tr>

         <tr>
            <td></td>
            <td><b>Outside Sound Level</b></td>
            <td style="text-align: right">{{ OutSound }}</td>
            <td> dB   </br></td>
         </tr>

     </table>

     </br>
     </br>

     <!--- table with button to reload current values -->
     <table>
         <col style="width:200px"> <col style="width:200px">
         <tr>
            <td></td>
            <td></td>
            <td><input type="button" onclick="location.href='/main'" name="RELOAD" value="RELOAD"></td>
         </tr>
     </table>
 </body>
</html>