<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Main</title>
<meta name="author" content="Siemens">
<meta name="editor" content="html-editor phase 5">
<link rel="stylesheet" href="/static/css/Vorlage.css" type="text/css">
</head>
<body text="#FFFFFF" bgcolor="#408080" link="#FF0000" alink="#FF0000" vlink="#FF0000">

<div id="main" style="wight: 500px;">
<h1>  SmartWindow</h1>
</div>
<div id="right" style="top:1; heigh:154px;">
<img style="border-bottom-left-radius: 20px; border-top-right-radius: 20px;" src="/static/gif/HAW.gif" height="144">
</div>
</body>
</html>