<!--
Structure Model

created: 09.10.2015
Autor: Mailina Lohmann
Content: Structure mode for all html datas
         defines background and text
         defines colors, form and sizes
         defines page structure

Rev: 0.0 - 09.10.2015 first creation
     1.0 - 18.12.2015 comment adjustment
-->


   <!-- used for text form -->
h1 {
   font-family:'Alegreya', serif;
   font-size: 3.4em;
   color: #FFFFFF;
   text-align: center;
   font-variant: small-caps;
}


h2 {
   font-family:'Alegreya', serif;
   font-size: 2.5em;
   left: 100px;
}

h3 {
   font-family:'Alegreya', serif;
   font-size: 1.8em;
   left: 120px;
   font-style: italic;
}

body{
   background-color:#475656;
   font-family: 'Calibri';
   color:#FFFFFF;
   }

a:link {
   text-decoration:none;
   font-weight:bold;
   color:#475656;
   font-size: 14pt;
   }

a:visited {
   text-decoration:none;
   font-weight:bold;
   color:#475656;
   font-size: 14pt;
   }

a:hover {
   text-decoration:underline;
   font-weight:bold;
   background-color:#475656;
   color:#FFFFFF;
   font-size: 14pt;
   }

a:active {
   text-decoration:none;
   font-weight:bold;
   background-color:#475656;
   color:#FFFFFF;
   font-size: 14pt;
   }


   <!-- used for page structure -->
#left {
   position: absolute;
   padding: 1;
   left: 0;
}

#main {
   position: absolute;
   padding: 1;
   border: 1;
   left: 3;
  }

#right {
   position: absolute;
   padding: 1;
   right: 0;
  }